.contact-container {
  background-color: #000;
  color: white;
  padding: 5px;
  margin-top: 5px;
  padding-bottom: 30px;
}

.contact-be-first-text {
  font-weight: 600;
  margin-bottom: 0;
  padding: 0;
}

.contact-para-text {
  margin-top: 2px;
}

.email-contact-input-container {
  display: flex;
  align-items: center;
}
.email-contact-input-container > input {
  height: 35px;
  outline: none;
  font-size: 16px;
  width: 65%;
  border-radius: 5px;
}
.email-contact-input-container > button {
  width: 35%;
  height: 35px;
  margin-left: 5px;
  background-color: transparent;
  outline: none;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  opacity: 50%;
  padding: 5px;
}

.contact-number-container > p {
  font-weight: 700;
}

.set-margin-zero {
  margin: 0;
}

.display-number-email-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

.make-margin-to-p {
  margin: 5px;
  font-size: 10px;
}

.show-contact-item {
  display: none;
}

.us-logo {
  border-radius: 10px;
}

.us-logo-cuurency-type {
  display: flex;
  align-items: center;
  width: 80px;
  justify-content: space-around;
}

.add-margin-top {
  margin-top: 10px;
}

.currency-para-text {
  font-size: 12px;
}

.footer-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2%;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.footer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-list-container {
  display: flex;
  flex-direction: column;
}

.contact-second-section-container {
  display: flex;
  flex-direction: column;
}

.each-footer-item {
  margin: 5px;
  width: 100%;
}

.make-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.horizontal-alignment {
  display: flex;
  flex-direction: row;
}

.each-map-clickable-link {
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.navigation-contact-for-desktop {
  display: none;
}

.text-center {
  text-align: center;
}

@media screen and (min-width: 320px) {
  .make-margin-to-p {
    margin: 5px;
    font-size: 13px;
  }
}

@media screen and (min-width: 500px) {
  .make-margin-to-p {
    margin: 5px;
    font-size: 16px;
  }
  .contact-container {
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .navigation-contact-for-desktop {
    display: flex;
    padding-bottom: 10px;
    /* align-items: center; */
    justify-content: space-around;
  }
  .add-left-margin {
    margin-left: 30px;
  }
  .hide-contact-item {
    display: none;
  }

  .show-contact-item {
    display: block;
  }

  .contact-contact-container {
    margin-top: 40px;
  }

  .contact-first-section-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
  }
  .contact-number-container {
    flex-direction: column;
  }
  .display-number-email-container {
    flex-direction: column;
    align-items: flex-start;
    margin-left: -5px;
  }
  .diamond-symbol {
    display: none;
  }
  .contact-form-with-email-container {
    width: 50%;
  }
}

@media screen and (min-width: 900px) {
  .contact-contact-container {
    margin-top: 50px;
  }
}
